

<span class= "new_user_body">

        <span class ="edit_part">

       
                <form action="<%=  user_link_url %>" , method="post" , class="new_user_form" >
                <input type="hidden" name= "_method" value="patch">
                 <% authenticity_token %>
                <label id="cur_password">Current Password</label><br>
                <input type="password" name="[link]cur_password" id="cur_password"><br><br><br>


                 <button type="submit" class="new_user_form"  >Delete</button  >
                 </form>
        </span>

</span>