
<div class="pages">

    <div class="band_index">
       <div class="links"> Add band</div>

        <h4> Add Band </h4>
        <div class="band_forms">


            <%= render "form", method: :post , band:@band , action:"/bands"%>

        </div>

    </div>

</div>